@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
/* Shared styles */

body {
  font-family: Mulish;
}

/* Header section styles */
.nav-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 0px;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.logo-title {
  margin-left: 16px;
  font-size: 2rem;
}
.nav-container ul {
  display: flex;
  align-items: center;
}
.nav-container ul li {
  list-style: none;
}

.nav-container ul li a {
  text-decoration: none;
  display: block;
  padding: 10px 45px;
  text-align: center;
  color: rgb(66, 66, 71);
  font-size: 1.12rem;
  font-weight: 700;
}

.nav-container ul li:first-child a {
  color: rgb(255, 84, 0);
}

.mobile-icon {
  display: none;
}
/* Banner section styles */
.banner-container {
  margin: 60px 150px;
  background-image: url("../Images/Group\ 13\ \(1\)\ \(1\).png");
  background-repeat: no-repeat;
  background-position: center, center;
  background-size: center;
}
.banner-text {
  padding: 105px 190px;
  text-align: center;
}

.banner-title {
  color: rgb(255, 255, 255);
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 24px;
}
.banner-description {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 48px;
}
.banner-form input,
button,
select {
  padding: 16px 85px 16px 16px;
  background: rgb(255, 255, 255);
  outline: 0;
  border: 0;
  border-radius: 8px;
  margin-right: 24px;
}
.banner-input {
  padding: 16px;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 8px;
}
.banner-input > button {
  background: #ff5400;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

/* Responsive for mobile device */
@media screen and (max-width: 576px) {
  .nav-container ul {
    display: none;
  }
  .banner-container{
    margin: -37px 73px;

  }
  .banner-text{
    padding: 14px 14px;
  }
  .banner-description{
    margin: 14px;
  }
  .banner-title{
    color: black;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: -15px;
  }
  .banner-form input,
button,
select{
  width: 100%;
  margin-bottom: 20px;
  padding-bottom: 10px;
}
  .mobile-icon {
    display: block;
  }
}
